//LEGAL//
/*Copyright©2014 PhilWelsh.*/


//IMPORTS

.sizefull {
    height: 100%;
    width: 100%;
}

.widthfull {
    width: 100%;
}

.width-600 {
    width: 600px;
}

.width-400 {
    width: 400px;
}

.pad-30 {
    padding: 30px;
}

.margin-bot-80 {
    margin-bottom: 80px;
}

.margin {
    margin: auto;
}

.nomargin {
    margin: 0;
}

.pos-fix {
    position: fixed;
}

.pos-abs {
    position: absolute;
}

.textcenter {
    text-align: center;
}

.centerdiv {
    width: auto;
    text-align: center;

    ul {
        width: auto;
        padding: 0;
        margin: auto;
        line-height: 1.4;

        li {
            display: inline;
            text-align: center;
        }
    }
}


//IMPORTS

@mixin transition($speed) {
    -webkit-transition: $speed;
    -moz-transition: $speed;
    -ms-transition: $speed;
    -o-transition: $speed;
    transition: $speed;
}

@mixin animation-fill-mode($animfillmode) {
    -webkit-animation-fill-mode: $animfillmode;
    -o-animation-fill-mode: $animfillmode;
    animation-fill-mode: $animfillmode;
}

@mixin animation-duration($animduration) {
    -webkit-animation-duration: $animduration;
    -moz-animation-duration: $animduration;
    -o-animation-duration: $animduration;
    animation-duration: $animduration;
}

@mixin animation-delay($animdelay) {
    -webkit-animation-delay: $animdelay;
    -moz-animation-delay: $animdelay;
    -o-animation-delay: $animdelay;
    animation-delay: $animdelay;
}

@mixin animation-name($animname) {
    -webkit-animation-name: $animname;
    -moz-animation-name: $animname;
    -o-animation-name: $animname;
    animation-name: $animname;
}        

@mixin transform($transforms) {
    -moz-transform: $transforms;
    -o-transform: $transforms;
    -ms-transform: $transforms;
    -webkit-transform: $transforms;
    transform: $transforms;
}

@mixin animation($anim) {
    -moz-animation: $anim;
    -o-animation: $anim;
    -webkit-animation: $anim;
    animation: $anim;
}

@mixin keyframes ($key){
-moz-animation: $key;
    -o-animation: $key;
    -webkit-animation: $key;
    animation: $key;
}

@-webkit-keyframes slideout {
    from {
        left: -100%;
    }

    to {
        left: -15%;
    }
}

@-moz-keyframes slideout {
    from {
        left: -100%;
    }

    to {
        left: -15%;
    }
}

@keyframes slideout {
    from {
        left: -100%;
    }

    to {
        left: -15%;
    }
}

@-webkit-keyframes movescale {
    from {
        width: 800px;
    }

    to {
        top: 30px;
        width: 500px;
    }
}

@-moz-keyframes movescale {
    from {
        width: 800px;
    }

    to {
        top: 30px;
        width: 500px;
    }
}

@keyframes movescale {
    from {
        width: 800px;
    }

    to {
        top: 30px;
        width: 500px;
    }
}

@-webkit-keyframes fadein {
    from {
        opacity:0;
    }

    to {
        opacity:1;
    }
}

@-moz-keyframes fadein {
    from {
        opacity:0;
    }

    to {
        opacity:1;
    }
}

@keyframes fadein {
    from {
        opacity:0;
    }

    to {
        opacity:1;
    }
}

@-webkit-keyframes hideshimmer {
    from {
        left: -4%;
    }

    to {
        left: 85%;
    }
}

@-moz-keyframes hideshimmer {
    from {
        left: -4%;
    }

    to {
        left: 85%;
    }
}

@keyframes hideshimmer {
    from {
        left: -4%;
    }

    to {
        left: 85%;
    }
}
@-webkit-keyframes shimmer {
    from {
        left: -215%;
    }

    to {
        left: -2000%;
    }
}

@-moz-keyframes shimmer {
    from {
        left: -215%;
    }

    to {
        left: -2000%;
    }
}

@keyframes shimmer {
    from {
        left: -215%;
    }

    to {
        left: -2000%;
    }
}

@-webkit-keyframes starin {
    0%   { opacity: 0; 
        @include transform(rotate(-10deg));
    }
    33%{ opacity: .7;
        @include transform(rotate(0deg));}
    66%{ opacity: .4;
        @include transform(rotate(10deg));}
    100% { opacity: 0;
        @include transform(rotate(20deg));}
    }

//MIXINS

$slow: all 1s ease-in-out;
$mid-speed: all .75s ease-in-out;
$fast: all .5s ease-in-out;
$faster: all .25s ease-in-out;
//MIXINS

//JS ADDED CLASSES//
.page {
    @include transition($slow);
}
//

//GENERAL RULES
::selection {
    color: black;
    background: gray;
}

body {
    padding: 0;
    margin: 0;
    position: absolute;
    height: 100%;
    width: 100%;
    color: gray;
    background-color: #020505;
    /*background-color: #03090A;*/
    /*background-color:rgb(4, 13, 15);*/
    #wrapper {
        min-height: 100%;
        position: relative;
        background: url( data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAoAAAAKCAYAAACNMs+9AAAAQElEQVQYV4XQUQoAIAgD0Dx5efKyyChTt+/HBqOCU4U0Am4hBA8SyFHjg+aqBz/kQRdZGKIbpkghRAr7/oqzTwe1iRKJ6T+77wAAAABJRU5ErkJggg== ) repeat;
    }
    //fonts
    font-family: "Century Gothic", CenturyGothic, AppleGothic, sans-serif;

    ul {
        padding: 0;
        margin: 0;
    }

    li {
        list-style: none;
        font-family: "Century Gothic", CenturyGothic, AppleGothic, sans-serif;
        text-transform: capitalize;
        font-size: .8em;
    }

    /*h1, h2, h3, h5 {
        font-family: bluehighwaybold;
    }*/

    h4 {
        margin: 10px 0;
    }

    h1 {
        font-size: 8em;
    }

    h2 {
        font-size: 4em;
    }

    h5 {
        font-size: 1.2em;
    }

    /*p {
        font-family: bluehighway;
    }*/

    a, a:visited, a:hover, a:active {
        text-decoration: none;
        color: inherit;
        cursor: pointer;
        @include transition($faster);
    }
}

//colors
.back-dark {
    background-color: rgba(2, 9, 10, 0.95);
}
//background-color:rgb(7, 21, 22
/*.w{background:url(
       data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAgAAAAICAYAAADED76LAAAAaklEQVQYV2NkYGAwBuKzQAwC9UA8C4ifQ/n/GaEMkCIfIG6E8iWB9DMgZoQpAOncgmTSfyBbCmQSSAFIEqYTZNIZkE6YSSAGyDi4nUC2CbKb4CphdqK7CaYAbieSb8BuAikASSKblIbsJgCKXBfTNjWx1AAAAABJRU5ErkJggg==
   ) repeat;}

.x{background:url(
data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAoAAAAKCAYAAACNMs+9AAAAUElEQVQYV2NkQIB6ILMRiY/MrGeE8v4DaWxsuGKYJA6DwMJgm9AVwkzGsAGkEFkQp8noJsI8BNMM9yC6B3CaTsgzcJNxeQYjTGEKsQU2is8Br60UCJVFWAoAAAAASUVORK5CYII=
) repeat;}*/
.diagstripe {
    background: url( data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAoAAAAKCAYAAACNMs+9AAAAQElEQVQYV4XQUQoAIAgD0Dx5efKyyChTt+/HBqOCU4U0Am4hBA8SyFHjg+aqBz/kQRdZGKIbpkghRAr7/oqzTwe1iRKJ6T+77wAAAABJRU5ErkJggg== ) repeat;
}

/*.z{background:url(
       data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAgAAAAICAYAAADED76LAAAAQElEQVQYV3WO0QoAIAgD25dLX27bg1Kmggje4cTqy7jebEfDE5KhCg+kYLfwQcWE0ELFSxhhCJpe5PxdF0Yo6wDNXROHjeoYnwAAAABJRU5ErkJggg==
       ) repeat;}*/



//GENERAL RULES

.opener {
    position: relative;
    top: 200px;
    z-index: 1;
    width: 800px;
    max-width: 70%;
    right: 0;
    left: 0;
    margin: auto;
    @include animation-fill-mode(forwards);
    @include animation-duration(1s);
    @include animation-delay(3.8s);
    @include animation-name(movescale);

    img {
        height: 100%;
        width: 100%;
    }
}

.sheath {
    position: absolute;
    top: 0%;
    height: 100%;
    width: 100%;
    left: 15%;
    overflow: hidden;

    img {
        left: -100%;
        position: absolute;
        @include animation-fill-mode(forwards);
        @include animation-duration(1s);
        @include animation-delay(.6s);
        @include animation-name(slideout);
    }

    .star {
        position: absolute;
        top: 29%;
        right: 15%;
        width: 3px;
        height: 3px;
        background-color: white;
        opacity: 0;
        @include transform(rotate(40deg));
        @include animation-fill-mode(forwards);
        @include animation-duration(1.3s);
        @include animation-delay(2.7s);
        @include animation-name(starin);
        -moz-animation-timing-function: linear;
        -o-animation-timing-function: linear;
        -webkit-animation-timing-function: linear;
        animation-timing-function: linear;
    }

    #diamond {
        width: 0;
        height: 0;
        border: 2px solid transparent;
        border-bottom: 27px solid #fff;
        position: absolute;
        bottom: 0;
    }

    #diamond:after {
        content: '';
        position: absolute;
        left: -2px;
        top: 27px;
        width: 0;
        height: 0;
        border: 2px solid transparent;
        border-top: 27px solid #fff;
    }

    #diamond.side {
        @include transform(rotate(90deg));
left: 9px;
top: -7px;
border-bottom: 16px solid #fff;
    }

    #diamond.side:after {
        @include transform(rotate(0deg));
        border-top: 16px solid #fff;
        top: 16px;
        left: -2px;
    }
}

.main {
    border-bottom: 2px solid gray;
}

.container {
    max-width: 70%;
    /*box-shadow: 0px 1px 10px 0px rgba(50, 50, 50, 1);
    -webkit-box-shadow: 0px 1px 10px 0px rgba(50, 50, 50, 1);*/
    border-radius: 7px;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    height: auto;
}

.logo {
    opacity: 0;

    a {
        img {
            width: 450px;
            max-width: 100%;
        }
    }
}

.soc-med{
    opacity:0;
        @include animation-fill-mode(forwards);
        @include animation-duration(.5s);
        @include animation-delay(5s);
        @include animation-name(fadein);
        margin-top: 50px;
        padding-bottom:30px;
     a {
    display: inline-block;
    position: relative;

    img {
        width: 60px;
    }
}
}

.facebook{
    background-image: url(facebook.png);
    }

.twitter{
              background-image: url(twitter.png);
              }

.facebook, .twitter {
    height: 50px;
width: 50px;
background-size: 50px;
    &:after {
        content: "";
        position: absolute;
        top: 3px;
        left: 4px;
        height: 43px;
        width: 43px;
        border-radius: 35px;
        @include transition($faster);
    }

    &:hover:after {
        content: "";
        position: absolute;
        box-shadow: 0px 0px 25px #fff;
        top: 3px;
        left: 4px;
        height: 43px;
        width: 43px;
        border-radius: 35px;
    }
}

.email:hover {
    text-shadow: 0px 0px 10px #fff;
}

/*.textbox{background-color: #1A1A1A;
            -webkit-box-shadow: inset 0px 0px 15px 8px rgba(0,0,0,0.75);
                 border: 2px solid rgb(116, 116, 116);border-left:0;border-right:0;
            h5{}
            p{text-align:left;}
        }data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAQAAAAECAYAAACp8Z5+AAAAG0lEQVQIW2NkYGD4D8RwwAhk1aMLIPMZMFQAAF5yAgLK6Gk1AAAAAElFTkSuQmCC
*/
@-webkit-keyframes open {
    from {
        height: 52%;
    }

    to {
        height: 2%;
    }
}


.textbox {
    background-color: rgb(24,24,24);
    position: relative;

    &:after, &:before {
        position: absolute;
        content: "";
        background-color: black;
        height: 52%;
        width: 100%;
        left: 0;
        @include transition(all 1s);
        @include animation-fill-mode(forwards);
        @include animation-duration(2s);
        @include animation-delay(5.7s);
        @include animation-name(open);
    }



    &:after {
        bottom: -2%;
        /*border-top: 2px solid #4a4a4a;*/
        border-top: 2px solid white;
    }

    &:before {
        top: -2%;
        /*border-bottom: 2px solid #4a4a4a;*/
        border-bottom: 2px solid white;
    }


    .stripes {
        background: url( data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAoAAAAJCAYAAAALpr0TAAAAHUlEQVQYV2NkIBIwEqmOAaSwnhjFJJlIjIFDwmoA9sYBh5WOeYcAAAAASUVORK5CYII= ) repeat;
    }

    -webkit-box-shadow: inset 0px 0px 15px 8px rgba(0,0,0,0.75);
    box-shadow: inset 0px 0px 15px 8px rgba(0,0,0,0.75);
    border: 2px solid rgb(74,74,74);
    border-left: 0;
    border-right: 0;

    .text {
        margin: 30px auto;

        .who {
            padding:10px 0;
            max-width: 80%;
        margin:5px auto;
        text-align:justify;
        }

        h5 {
            text-align: left;
            color:#6c43d2;
            margin: 20px 0;
            text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000; 
        }

        p {
            font-size:15px;
            margin: 0;
            text-align: left;
            /*                  @include transform(translateX(-100%));  make things offside upon start 
                  @include animation(slideIn ease-in 1);
                  @include animation-fill-mode( forwards);
                  @include animation-duration( .7s);*/
        }
    .provide{
        padding-bottom:20px;
        max-width: 80%;
        margin: auto;
    }
        }
}





/*.textbox{border-radius:15px;
                 border:3px solid gray;
                   /*border-bottom:0;background: linear-gradient(
    to bottom,
    rgb(7, 21, 22),
    #202427 35px,
    rgb(128, 128, 128) 35px,
    rgb(128, 128, 128) 37px ,
    rgb(3,9,10) 10%,
    #202427
  );*/

.text {
    max-width: 100%;
}

.footer {
    bottom: 0;
    height: 40px;

    .copyright {
        background-color: rgba(2, 9, 10, 0.95);

        p {
            margin: 0;
            padding: 10px;
            border-top: 2px solid rgb(74,74,74);
        }
    }
}

.mask a {
    position: relative;
    display: block;
    text-align: center;
    margin: 0 auto;
    background: "";
    -webkit-filter: drop-shadow(1px 1px 2px rgba(0,0,0,.5));
}

.mask a {
    background-position: -450px 0;

    img {
        height: 100%;
        width: 100%;
    }

    @include transition(all 0s);
}

.mask a:hover,
.mask a:focus {
    background-position: 35px 0;
    /*change speed to see in slow motion*/
    @include transition(all 1.5s ease-in);
}

.mask a::after {
    content: '';
    position: absolute;
    pointer-events: none;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: radial-gradient(0 0,circle farthest-side, rgba(255,255,255,0) 90%,rgba(255,255,255,.8) 98%,rgba(255,255,255,0) 100%) no-repeat;
    background: radial-gradient(circle farthest-side at 0 0, rgba(255,255,255,0) 90%,rgba(255,255,255,.8) 98%,rgba(255,255,255,0) 100%) no-repeat;
    background-position: inherit;
    -webkit-mask: url('/cbs_crop.png');
    -webkit-mask-size: 100% 100%;
}

.glint {
    width: 4px;
    height: 4px;
    background-color: white;
    position: relative;
    left: 78px;
    bottom: 52px;
    @include animation-fill-mode(forwards);
    @include animation-duration(1.2s);
    @include animation-delay(1.5s);
}

.mask a:hover ~ .glint {
    @include animation-name(glint);
}

@-webkit-keyframes glint {
    from {
        left: 78px;
    }

    to {
        left: 400px;
    }
}

    //WEBSITE START
//TESTING FOR SHINE EFFECT//


.hideshimmer{
overflow: hidden;
position: absolute;
top: 0;
left: -7%;
height: 100%;
width: 5%;

    @include animation-fill-mode(forwards);
    @include animation-duration(0.7s);
    @include animation-delay(1.6s);
    @include animation-name(hideshimmer);
}

    .shimmer{
    background-image:url(cbs_crop_blade_shine.png);
    background-size:100%;

    position: relative;
    top: 2%;
    left: -225%;
    height: 100%;
    width: 2000%;
    @include animation-fill-mode(forwards);
    @include animation-duration(0.7s);
    @include animation-delay(1.6s);
    @include animation-name(shimmer);
    }


        /*.sheath:hover .hideshimmer{
            @include animation-fill-mode(forwards);
    @include animation-duration(0.7s);
    @include animation-delay(.1s);
    @include animation-name(hideshimmer);
    }
    .sheath:hover .shimmer{
    @include animation-fill-mode(forwards);
    @include animation-duration(0.7s);
    @include animation-delay(.1s);
    @include animation-name(shimmer);
    }*/