/*Copyright©2014 PhilWelsh.*/
.sizefull {
  height: 100%;
  width: 100%; }

.widthfull {
  width: 100%; }

.width-600 {
  width: 600px; }

.width-400 {
  width: 400px; }

.pad-30 {
  padding: 30px; }

.margin-bot-80 {
  margin-bottom: 80px; }

.margin {
  margin: auto; }

.nomargin {
  margin: 0; }

.pos-fix {
  position: fixed; }

.pos-abs {
  position: absolute; }

.textcenter {
  text-align: center; }

.centerdiv {
  width: auto;
  text-align: center; }
  .centerdiv ul {
    width: auto;
    padding: 0;
    margin: auto;
    line-height: 1.4; }
    .centerdiv ul li {
      display: inline;
      text-align: center; }

@-webkit-keyframes slideout {
  from {
    left: -100%; }

  to {
    left: -15%; } }

@-moz-keyframes slideout {
  from {
    left: -100%; }

  to {
    left: -15%; } }

@keyframes slideout {
  from {
    left: -100%; }

  to {
    left: -15%; } }

@-webkit-keyframes movescale {
  from {
    width: 800px; }

  to {
    top: 30px;
    width: 400px; } }

@-moz-keyframes movescale {
  from {
    width: 800px; }

  to {
    top: 30px;
    width: 400px; } }

@keyframes movescale {
  from {
    width: 800px; }

  to {
    top: 30px;
    width: 400px; } }

@-webkit-keyframes fadein {
  from {
    opacity: 0; }

  to {
    opacity: 1; } }

@-moz-keyframes fadein {
  from {
    opacity: 0; }

  to {
    opacity: 1; } }

@keyframes fadein {
  from {
    opacity: 0; }

  to {
    opacity: 1; } }

@-webkit-keyframes hideshimmer {
  from {
    left: -4%; }

  to {
    left: 85%; } }

@-moz-keyframes hideshimmer {
  from {
    left: -4%; }

  to {
    left: 85%; } }

@keyframes hideshimmer {
  from {
    left: -4%; }

  to {
    left: 85%; } }

@-webkit-keyframes shimmer {
  from {
    left: -215%; }

  to {
    left: -2000%; } }

@-moz-keyframes shimmer {
  from {
    left: -215%; }

  to {
    left: -2000%; } }

@keyframes shimmer {
  from {
    left: -215%; }

  to {
    left: -2000%; } }

@-webkit-keyframes starin {
  0% {
    opacity: 0;
    -moz-transform: rotate(-10deg);
    -o-transform: rotate(-10deg);
    -ms-transform: rotate(-10deg);
    -webkit-transform: rotate(-10deg);
    transform: rotate(-10deg); }

  33% {
    opacity: 0.7;
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg); }

  66% {
    opacity: 0.4;
    -moz-transform: rotate(10deg);
    -o-transform: rotate(10deg);
    -ms-transform: rotate(10deg);
    -webkit-transform: rotate(10deg);
    transform: rotate(10deg); }

  100% {
    opacity: 0;
    -moz-transform: rotate(20deg);
    -o-transform: rotate(20deg);
    -ms-transform: rotate(20deg);
    -webkit-transform: rotate(20deg);
    transform: rotate(20deg); } }

.page {
  -webkit-transition: all 1s ease-in-out;
  -moz-transition: all 1s ease-in-out;
  -ms-transition: all 1s ease-in-out;
  -o-transition: all 1s ease-in-out;
  transition: all 1s ease-in-out; }

::selection {
  color: black;
  background: gray; }

body {
  padding: 0;
  margin: 0;
  position: absolute;
  height: 100%;
  width: 100%;
  color: gray;
  background-color: #020505;
  /*background-color: #03090A;*/
  /*background-color:rgb(4, 13, 15);*/
  font-family: "Century Gothic", CenturyGothic, AppleGothic, sans-serif;
  /*h1, h2, h3, h5 {
        font-family: bluehighwaybold;
    }*/
  /*p {
        font-family: bluehighway;
    }*/ }
  body #wrapper {
    min-height: 100%;
    position: relative;
    background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAoAAAAKCAYAAACNMs+9AAAAQElEQVQYV4XQUQoAIAgD0Dx5efKyyChTt+/HBqOCU4U0Am4hBA8SyFHjg+aqBz/kQRdZGKIbpkghRAr7/oqzTwe1iRKJ6T+77wAAAABJRU5ErkJggg== ) repeat; }
  body ul {
    padding: 0;
    margin: 0; }
  body li {
    list-style: none;
    font-family: "Century Gothic", CenturyGothic, AppleGothic, sans-serif;
    text-transform: capitalize;
    font-size: 0.8em; }
  body h4 {
    margin: 5px 0; }
  body h1 {
    font-size: 8em; }
  body h2 {
    font-size: 4em; }
  body h5 {
    font-size: 1.2em; }
  body a, body a:visited, body a:hover, body a:active {
    text-decoration: none;
    color: inherit;
    cursor: pointer;
    -webkit-transition: all 0.25s ease-in-out;
    -moz-transition: all 0.25s ease-in-out;
    -ms-transition: all 0.25s ease-in-out;
    -o-transition: all 0.25s ease-in-out;
    transition: all 0.25s ease-in-out; }

.back-dark {
  background-color: rgba(2, 9, 10, 0.95); }

/*.w{background:url(
       data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAgAAAAICAYAAADED76LAAAAaklEQVQYV2NkYGAwBuKzQAwC9UA8C4ifQ/n/GaEMkCIfIG6E8iWB9DMgZoQpAOncgmTSfyBbCmQSSAFIEqYTZNIZkE6YSSAGyDi4nUC2CbKb4CphdqK7CaYAbieSb8BuAikASSKblIbsJgCKXBfTNjWx1AAAAABJRU5ErkJggg==
   ) repeat;}

.x{background:url(
data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAoAAAAKCAYAAACNMs+9AAAAUElEQVQYV2NkQIB6ILMRiY/MrGeE8v4DaWxsuGKYJA6DwMJgm9AVwkzGsAGkEFkQp8noJsI8BNMM9yC6B3CaTsgzcJNxeQYjTGEKsQU2is8Br60UCJVFWAoAAAAASUVORK5CYII=
) repeat;}*/
.diagstripe {
  background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAoAAAAKCAYAAACNMs+9AAAAQElEQVQYV4XQUQoAIAgD0Dx5efKyyChTt+/HBqOCU4U0Am4hBA8SyFHjg+aqBz/kQRdZGKIbpkghRAr7/oqzTwe1iRKJ6T+77wAAAABJRU5ErkJggg== ) repeat; }

/*.z{background:url(
       data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAgAAAAICAYAAADED76LAAAAQElEQVQYV3WO0QoAIAgD25dLX27bg1Kmggje4cTqy7jebEfDE5KhCg+kYLfwQcWE0ELFSxhhCJpe5PxdF0Yo6wDNXROHjeoYnwAAAABJRU5ErkJggg==
       ) repeat;}*/
.opener {
  position: relative;
  top: 200px;
  z-index: 1;
  width: 800px;
  max-width: 70%;
  right: 0;
  left: 0;
  margin: auto;
  -webkit-animation-fill-mode: forwards;
  -o-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
  -webkit-animation-duration: 1s;
  -moz-animation-duration: 1s;
  -o-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-delay: 3.8s;
  -moz-animation-delay: 3.8s;
  -o-animation-delay: 3.8s;
  animation-delay: 3.8s;
  -webkit-animation-name: movescale;
  -moz-animation-name: movescale;
  -o-animation-name: movescale;
  animation-name: movescale; }
  .opener img {
    height: 100%;
    width: 100%; }

.sheath {
  position: absolute;
  top: 0%;
  height: 100%;
  width: 100%;
  left: 15%;
  overflow: hidden; }
  .sheath img {
    left: -100%;
    position: absolute;
    -webkit-animation-fill-mode: forwards;
    -o-animation-fill-mode: forwards;
    animation-fill-mode: forwards;
    -webkit-animation-duration: 1s;
    -moz-animation-duration: 1s;
    -o-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-delay: 0.6s;
    -moz-animation-delay: 0.6s;
    -o-animation-delay: 0.6s;
    animation-delay: 0.6s;
    -webkit-animation-name: slideout;
    -moz-animation-name: slideout;
    -o-animation-name: slideout;
    animation-name: slideout; }
  .sheath .star {
    position: absolute;
    top: 29%;
    right: 15%;
    width: 3px;
    height: 3px;
    background-color: white;
    opacity: 0;
    -moz-transform: rotate(40deg);
    -o-transform: rotate(40deg);
    -ms-transform: rotate(40deg);
    -webkit-transform: rotate(40deg);
    transform: rotate(40deg);
    -webkit-animation-fill-mode: forwards;
    -o-animation-fill-mode: forwards;
    animation-fill-mode: forwards;
    -webkit-animation-duration: 1.3s;
    -moz-animation-duration: 1.3s;
    -o-animation-duration: 1.3s;
    animation-duration: 1.3s;
    -webkit-animation-delay: 2.7s;
    -moz-animation-delay: 2.7s;
    -o-animation-delay: 2.7s;
    animation-delay: 2.7s;
    -webkit-animation-name: starin;
    -moz-animation-name: starin;
    -o-animation-name: starin;
    animation-name: starin;
    -moz-animation-timing-function: linear;
    -o-animation-timing-function: linear;
    -webkit-animation-timing-function: linear;
    animation-timing-function: linear; }
  .sheath #diamond {
    width: 0;
    height: 0;
    border: 2px solid transparent;
    border-bottom: 27px solid #fff;
    position: absolute;
    bottom: 0; }
  .sheath #diamond:after {
    content: '';
    position: absolute;
    left: -2px;
    top: 27px;
    width: 0;
    height: 0;
    border: 2px solid transparent;
    border-top: 27px solid #fff; }
  .sheath #diamond.side {
    -moz-transform: rotate(90deg);
    -o-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    -webkit-transform: rotate(90deg);
    transform: rotate(90deg);
    left: 9px;
    top: -7px;
    border-bottom: 16px solid #fff; }
  .sheath #diamond.side:after {
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
    border-top: 16px solid #fff;
    top: 16px;
    left: -2px; }

.main {
  border-bottom: 2px solid gray; }

.container {
  max-width: 70%;
  box-shadow: 0px 1px 10px 0px #323232;
  -webkit-box-shadow: 0px 1px 10px 0px #323232;
  border-radius: 7px;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  height: auto; }

.logo {
  opacity: 0; }
  .logo a img {
    width: 450px;
    max-width: 100%; }

.soc-med {
  opacity: 0;
  -webkit-animation-fill-mode: forwards;
  -o-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
  -webkit-animation-duration: 0.5s;
  -moz-animation-duration: 0.5s;
  -o-animation-duration: 0.5s;
  animation-duration: 0.5s;
  -webkit-animation-delay: 5s;
  -moz-animation-delay: 5s;
  -o-animation-delay: 5s;
  animation-delay: 5s;
  -webkit-animation-name: fadein;
  -moz-animation-name: fadein;
  -o-animation-name: fadein;
  animation-name: fadein;
  margin-top: 50px; }
  .soc-med a {
    display: inline-block;
    position: relative; }
    .soc-med a img {
      width: 60px; }

.facebook:after, .twitter:after {
  content: "";
  position: absolute;
  top: 3px;
  left: 4px;
  height: 53px;
  width: 53px;
  border-radius: 35px;
  -webkit-transition: all 0.25s ease-in-out;
  -moz-transition: all 0.25s ease-in-out;
  -ms-transition: all 0.25s ease-in-out;
  -o-transition: all 0.25s ease-in-out;
  transition: all 0.25s ease-in-out; }
.facebook:hover:after, .twitter:hover:after {
  content: "";
  position: absolute;
  box-shadow: 0px 0px 25px #fff;
  top: 3px;
  left: 4px;
  height: 53px;
  width: 53px;
  border-radius: 35px; }

.email:hover {
  text-shadow: 0px 0px 10px #fff; }

/*.textbox{background-color: #1A1A1A;
            -webkit-box-shadow: inset 0px 0px 15px 8px rgba(0,0,0,0.75);
                 border: 2px solid rgb(116, 116, 116);border-left:0;border-right:0;
            h5{}
            p{text-align:left;}
        }data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAQAAAAECAYAAACp8Z5+AAAAG0lEQVQIW2NkYGD4D8RwwAhk1aMLIPMZMFQAAF5yAgLK6Gk1AAAAAElFTkSuQmCC
*/
@-webkit-keyframes open {
  from {
    height: 52%; }

  to {
    height: 2%; } }

.textbox {
  background-color: #181818;
  position: relative;
  -webkit-box-shadow: inset 0px 0px 15px 8px rgba(0, 0, 0, 0.75);
  box-shadow: inset 0px 0px 15px 8px rgba(0, 0, 0, 0.75);
  border: 2px solid #4a4a4a;
  border-left: 0;
  border-right: 0; }
  .textbox:after, .textbox:before {
    position: absolute;
    content: "";
    background-color: black;
    height: 52%;
    width: 100%;
    left: 0;
    -webkit-transition: all 1s;
    -moz-transition: all 1s;
    -ms-transition: all 1s;
    -o-transition: all 1s;
    transition: all 1s;
    -webkit-animation-fill-mode: forwards;
    -o-animation-fill-mode: forwards;
    animation-fill-mode: forwards;
    -webkit-animation-duration: 2s;
    -moz-animation-duration: 2s;
    -o-animation-duration: 2s;
    animation-duration: 2s;
    -webkit-animation-delay: 5.7s;
    -moz-animation-delay: 5.7s;
    -o-animation-delay: 5.7s;
    animation-delay: 5.7s;
    -webkit-animation-name: open;
    -moz-animation-name: open;
    -o-animation-name: open;
    animation-name: open; }
  .textbox:after {
    bottom: -2%;
    border-top: 2px solid #4a4a4a; }
  .textbox:before {
    top: -2%;
    border-bottom: 2px solid #4a4a4a; }
  .textbox .stripes {
    background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAoAAAAJCAYAAAALpr0TAAAAHUlEQVQYV2NkIBIwEqmOAaSwnhjFJJlIjIFDwmoA9sYBh5WOeYcAAAAASUVORK5CYII= ) repeat; }
  .textbox .text {
    margin: 30px auto; }
    .textbox .text h4 {
      margin: 5px 0; }
    .textbox .text h5 {
      text-align: left; }
    .textbox .text p {
      font-size: 15px;
      margin: 0;
      text-align: left;
      /*                  @include transform(translateX(-100%));  make things offside upon start 
                  @include animation(slideIn ease-in 1);
                  @include animation-fill-mode( forwards);
                  @include animation-duration( .7s);*/ }

/*.textbox{border-radius:15px;
                 border:3px solid gray;
                   /*border-bottom:0;background: linear-gradient(
    to bottom,
    rgb(7, 21, 22),
    #202427 35px,
    rgb(128, 128, 128) 35px,
    rgb(128, 128, 128) 37px ,
    rgb(3,9,10) 10%,
    #202427
  );*/
.text {
  max-width: 100%; }

.footer {
  bottom: 0;
  height: 40px; }
  .footer .copyright {
    background-color: rgba(2, 9, 10, 0.95); }
    .footer .copyright p {
      margin: 0;
      padding: 10px;
      border-top: 2px solid #4a4a4a; }

.mask a {
  position: relative;
  display: block;
  text-align: center;
  margin: 0 auto;
  background: "";
  -webkit-filter: drop-shadow(1px 1px 2px rgba(0, 0, 0, 0.5)); }

.mask a {
  background-position: -450px 0;
  -webkit-transition: all 0s;
  -moz-transition: all 0s;
  -ms-transition: all 0s;
  -o-transition: all 0s;
  transition: all 0s; }
  .mask a img {
    height: 100%;
    width: 100%; }

.mask a:hover, .mask a:focus {
  background-position: 35px 0;
  /*change speed to see in slow motion*/
  -webkit-transition: all 1.5s ease-in;
  -moz-transition: all 1.5s ease-in;
  -ms-transition: all 1.5s ease-in;
  -o-transition: all 1.5s ease-in;
  transition: all 1.5s ease-in; }

.mask a::after {
  content: '';
  position: absolute;
  pointer-events: none;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: radial-gradient(0 0, circle farthest-side, rgba(255, 255, 255, 0) 90%, rgba(255, 255, 255, 0.8) 98%, rgba(255, 255, 255, 0) 100%) no-repeat;
  background: radial-gradient(circle farthest-side at 0 0, rgba(255, 255, 255, 0) 90%, rgba(255, 255, 255, 0.8) 98%, rgba(255, 255, 255, 0) 100%) no-repeat;
  background-position: inherit;
  -webkit-mask: url('/cbs_crop.png');
  -webkit-mask-size: 100% 100%; }

.glint {
  width: 4px;
  height: 4px;
  background-color: white;
  position: relative;
  left: 78px;
  bottom: 52px;
  -webkit-animation-fill-mode: forwards;
  -o-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
  -webkit-animation-duration: 1.2s;
  -moz-animation-duration: 1.2s;
  -o-animation-duration: 1.2s;
  animation-duration: 1.2s;
  -webkit-animation-delay: 1.5s;
  -moz-animation-delay: 1.5s;
  -o-animation-delay: 1.5s;
  animation-delay: 1.5s; }

.mask a:hover ~ .glint {
  -webkit-animation-name: glint;
  -moz-animation-name: glint;
  -o-animation-name: glint;
  animation-name: glint; }

@-webkit-keyframes glint {
  from {
    left: 78px; }

  to {
    left: 400px; } }

.hideshimmer {
  overflow: hidden;
  position: absolute;
  top: 0;
  left: -7%;
  height: 100%;
  width: 5%;
  /*@include animation-fill-mode(forwards);
    @include animation-duration(0.7s);
    @include animation-delay(1.6s);
    @include animation-name(hideshimmer);*/ }

.shimmer {
  background-image: url(cbs_crop_blade_shine.png);
  background-size: 100%;
  position: relative;
  top: 2%;
  left: -225%;
  height: 100%;
  width: 2000%;
  /*@include animation-fill-mode(forwards);
    @include animation-duration(0.7s);
    @include animation-delay(1.6s);
    @include animation-name(shimmer);*/ }

.sheath:hover .hideshimmer {
  -webkit-animation-fill-mode: forwards;
  -o-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
  -webkit-animation-duration: 0.7s;
  -moz-animation-duration: 0.7s;
  -o-animation-duration: 0.7s;
  animation-duration: 0.7s;
  -webkit-animation-delay: 0.1s;
  -moz-animation-delay: 0.1s;
  -o-animation-delay: 0.1s;
  animation-delay: 0.1s;
  -webkit-animation-name: hideshimmer;
  -moz-animation-name: hideshimmer;
  -o-animation-name: hideshimmer;
  animation-name: hideshimmer; }

.sheath:hover .shimmer {
  -webkit-animation-fill-mode: forwards;
  -o-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
  -webkit-animation-duration: 0.7s;
  -moz-animation-duration: 0.7s;
  -o-animation-duration: 0.7s;
  animation-duration: 0.7s;
  -webkit-animation-delay: 0.1s;
  -moz-animation-delay: 0.1s;
  -o-animation-delay: 0.1s;
  animation-delay: 0.1s;
  -webkit-animation-name: shimmer;
  -moz-animation-name: shimmer;
  -o-animation-name: shimmer;
  animation-name: shimmer; }

/*# sourceMappingURL=stylesheet.css.map */