//LEGAL//
/*Copyright©2014 PhilWelsh.*/


//IMPORTS

.sizefull {
    height: 100%;
    width: 100%;
}

.widthfull {
    width: 100%;
}

.width-800 {
    width: 800px;
}

.width-400 {
    width: 400px;
}

.pad-30 {
    padding: 30px;
}

.margin-bot-80 {
    margin-bottom: 80px;
}

.margin {
    margin: auto;
}

.nomargin {
    margin: 0;
}

.pos-fix {
    position: fixed;
}

.pos-abs {
    position: absolute;
}

.textcenter {
    text-align: center;
}

.centerdiv {
    width: auto;
    text-align: center;

    ul {
        width: auto;
        padding: 0;
        margin: auto;
        line-height: 1.4;

        li {
            display: inline;
            text-align: center;
        }
    }
}


//IMPORTS

@mixin transition($speed) {
    -webkit-transition: $speed;
    -moz-transition: $speed;
    -ms-transition: $speed;
    -o-transition: $speed;
    transition: $speed;
}

@mixin animation-fill-mode($animfillmode) {
    -webkit-animation-fill-mode: $animfillmode;
    -o-animation-fill-mode: $animfillmode;
    animation-fill-mode: $animfillmode;
}

@mixin animation-duration($animduration) {
    -webkit-animation-duration: $animduration;
    -moz-animation-duration: $animduration;
    -o-animation-duration: $animduration;
    animation-duration: $animduration;
}

@mixin animation-delay($animdelay) {
    -webkit-animation-delay: $animdelay;
    -moz-animation-delay: $animdelay;
    -o-animation-delay: $animdelay;
    animation-delay: $animdelay;
}

@mixin animation-name($animname) {
    -webkit-animation-name: $animname;
    -moz-animation-name: $animname;
    -o-animation-name: $animname;
    animation-name: $animname;
}

@mixin transform($transforms) {
    -moz-transform: $transforms;
    -o-transform: $transforms;
    -ms-transform: $transforms;
    -webkit-transform: $transforms;
    transform: $transforms;
}

@mixin animation($anim) {
    -moz-animation: $anim;
    -o-animation: $anim;
    -webkit-animation: $anim;
    animation: $anim;
}

@mixin keyframes ($key) {
    -moz-animation: $key;
    -o-animation: $key;
    -webkit-animation: $key;
    animation: $key;
}

@-webkit-keyframes hideshimmer {
    from {
        left: -5%;
    }

    to {
        left: 95%;
    }
}

@-moz-keyframes hideshimmer {
    from {
        left: -5%;
    }

    to {
        left: 95%;
    }
}

@keyframes hideshimmer {
    from {
        left: -5%;
    }

    to {
        left: 95%;
    }
}

@-webkit-keyframes shimmer {
    from {
        left: 100%;
    }

    to {
        left: -2000%;
    }
}

@-moz-keyframes shimmer {
    from {
        left: 100%;
    }

    to {
        left: -2000%;
    }
}

@keyframes shimmer {
    from {
        left: 100%;
    }

    to {
        left: -2000%;
    }
}

@-webkit-keyframes starin {
    0% {
        opacity: 0;
        @include transform(rotate(-10deg));
    }

    33% {
        opacity: .7;
        @include transform(rotate(0deg));
    }

    66% {
        opacity: .4;
        @include transform(rotate(10deg));
    }

    100% {
        opacity: 0;
        @include transform(rotate(20deg));
    }
}

//MIXINS

$slow: all 1s ease-in-out;
$mid-speed: all .75s ease-in-out;
$fast: all .5s ease-in-out;
$faster: all .25s ease-in-out;
//MIXINS

//JS ADDED CLASSES//
.page {
    @include transition($slow);
}
//

//GENERAL RULES
::selection {
    color: black;
    background: gray;
}

body {
    padding: 0;
    margin: 0;
    position: absolute;
    height: 100%;
    width: 100%;
    color: gray;
    background-color: #020505;

    #wrapper {
        min-height: 100%;
        position: relative;
        background: url( data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAoAAAAKCAYAAACNMs+9AAAAQElEQVQYV4XQUQoAIAgD0Dx5efKyyChTt+/HBqOCU4U0Am4hBA8SyFHjg+aqBz/kQRdZGKIbpkghRAr7/oqzTwe1iRKJ6T+77wAAAABJRU5ErkJggg== ) repeat;
    }
    //fonts
    font-family: "Century Gothic", CenturyGothic, AppleGothic, sans-serif;

    ul {
        padding: 0;
        margin: 0;
    }

    li {
        list-style: none;
        font-family: "Century Gothic", CenturyGothic, AppleGothic, sans-serif;
        text-transform: capitalize;
        font-size: .8em;
    }

    h4, p, h5 {
        font-weight: 100;
        font-size: 18px;
    }

    h4 {
        margin: 10px 0;
    }

    h1 {
        font-size: 8em;
    }

    h2 {
        font-size: 4em;
    }

    h5 {
        font-size: 1.2em;
    }

    a, a:visited, a:hover, a:active {
        text-decoration: none;
        cursor: pointer;
        @include transition($faster);
    }

    i {
        font-style: normal;
        color: white;
    }
}

//colors
.back-dark {
    background-color: rgba(2, 9, 10, 0.95);
}

.diagstripe {
    background: url( data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAoAAAAKCAYAAACNMs+9AAAAQElEQVQYV4XQUQoAIAgD0Dx5efKyyChTt+/HBqOCU4U0Am4hBA8SyFHjg+aqBz/kQRdZGKIbpkghRAr7/oqzTwe1iRKJ6T+77wAAAABJRU5ErkJggg== ) repeat;
}


//GENERAL RULES

.opener {
    position: relative;
    top: 30px;
    z-index: 1;
    width: 600px;
    height: 107px;
    max-width: 70%;
    right: 0;
    left: 0;
    margin: auto;
    background: url(cbs_blade.png) no-repeat;
    background-size: 100%;

    img {
        height: 100%;
        width: 100%;
    }
}

.sheath {
    position: absolute;
    top: 0%;
    height: 100%;
    width: 105%;
    left: 0%;
    overflow: hidden;

    img {
        width: 95%;
    }

    .star {
        position: absolute;
        top: 29%;
        right: 5%;
        width: 3px;
        height: 3px;
        background-color: white;
        opacity: 0;
        @include transform(rotate(40deg));
        @include animation-fill-mode(forwards);
        @include animation-duration(1.3s);
        @include animation-delay(2.3s);
        @include animation-name(starin);
        -moz-animation-timing-function: linear;
        -o-animation-timing-function: linear;
        -webkit-animation-timing-function: linear;
        animation-timing-function: linear;
    }

    #diamond {
        width: 0;
        height: 0;
        border: 2px solid transparent;
        border-bottom: 27px solid #fff;
        position: absolute;
        bottom: 0;
    }

    #diamond:after {
        content: '';
        position: absolute;
        left: -2px;
        top: 27px;
        width: 0;
        height: 0;
        border: 2px solid transparent;
        border-top: 27px solid #fff;
    }

    #diamond.side {
        @include transform(rotate(90deg));
        left: 9px;
        top: -7px;
        border-bottom: 16px solid #fff;
    }

    #diamond.side:after {
        @include transform(rotate(0deg));
        border-top: 16px solid #fff;
        top: 16px;
        left: -2px;
    }
}

.main {
    border-bottom: 2px solid gray;
}

.container {
    max-width: 70%;
    border-radius: 7px;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    height: auto;
}

.logo {
    opacity: 0;

    a {
        img {
            width: 550px;
            max-width: 100%;
        }
    }
}

.soc-med {
    opacity: 1;
    margin-top: 1%;
    padding-bottom: 30px;

    a {
        display: inline-block;
        position: relative;

        img {
            width: 60px;
        }
    }
}

.facebook {
    background-image: url(facebook.png);
}

.twitter {
    background-image: url(twitter.png);
}

.facebook, .twitter {
    height: 50px;
    width: 50px;
    background-size: 50px;

    &:after {
        content: "";
        position: absolute;
        top: 3px;
        left: 4px;
        height: 43px;
        width: 43px;
        border-radius: 35px;
        @include transition($faster);
    }

    &:hover:after {
        content: "";
        position: absolute;
        box-shadow: 0px 0px 25px #fff;
        top: 3px;
        left: 4px;
        height: 43px;
        width: 43px;
        border-radius: 35px;
    }
}

.email {
    color: white;

    &:hover {
        text-shadow: -3px 0px 10px white, 3px 0px 10px white;
    }
}

@-webkit-keyframes open {
    from {
        height: 52%;
    }

    to {
        height: 2%;
    }
}


.textbox {
    background-color: rgb(24,24,24);
    position: relative;
    margin-top: 300px;
    @include transition($fast);

    &:after, &:before {
        position: absolute;
        content: "";
        background-color: black;
        height: 52%;
        width: 100%;
        left: 0;
        @include transition(all 1s);
        @include animation-fill-mode(forwards);
        @include animation-duration(1.7s);
        @include animation-delay(.9s);
        @include animation-name(open);
    }



    &:after {
        bottom: -2%;
        border-top: 2px solid white;
    }

    &:before {
        top: -2%;
        border-bottom: 2px solid white;
    }


    .stripes {
        background: url( data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAoAAAAJCAYAAAALpr0TAAAAHUlEQVQYV2NkIBIwEqmOAaSwnhjFJJlIjIFDwmoA9sYBh5WOeYcAAAAASUVORK5CYII= ) repeat;
    }

    -webkit-box-shadow: inset 0px 0px 15px 8px rgba(0,0,0,0.75);
    box-shadow: inset 0px 0px 15px 8px rgba(0,0,0,0.75);
    border: 2px solid rgb(74,74,74);
    border-left: 0;
    border-right: 0;

    .text {
        margin: 30px auto;

        .who {
            padding: 10px 0;
            max-width: 80%;
            margin: 5px auto;
            text-align: justify;
        }

        h5 {
            text-align: left;
            color: #6c43d2;
            margin: 20px 0;
            text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
        }

        p {
            margin: 0;
            text-align: left;
        }

        .provide {
            padding-bottom: 20px;
            max-width: 80%;
            margin: auto;
        }
    }
}

.text {
    max-width: 100%;
}

.footer {
    bottom: 0;
    height: 40px;

    .copyright {
        background-color: rgba(2, 9, 10, 0.95);

        p {
            margin: 0;
            padding: 10px;
            border-top: 2px solid rgb(74,74,74);
        }
    }
}

.mask a {
    position: relative;
    display: block;
    text-align: center;
    margin: 0 auto;
    background: "";
    -webkit-filter: drop-shadow(1px 1px 2px rgba(0,0,0,.5));
    background-position: -450px 0;


    img {
        height: 100%;
        width: 100%;
    }

    @include transition(all 0s);
}

.mask a:hover,
.mask a:focus {
    background-position: 35px 0;
    @include transition(all 1.5s ease-in);
}

.mask a::after {
    content: '';
    position: absolute;
    pointer-events: none;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: radial-gradient(0 0,circle farthest-side, rgba(255,255,255,0) 90%,rgba(255,255,255,.8) 98%,rgba(255,255,255,0) 100%) no-repeat;
    background: radial-gradient(circle farthest-side at 0 0, rgba(255,255,255,0) 90%,rgba(255,255,255,.8) 98%,rgba(255,255,255,0) 100%) no-repeat;
    background-position: inherit;
    -webkit-mask: url('/cbs_crop.png');
    -webkit-mask-size: 100% 100%;
}

.glint {
    width: 4px;
    height: 4px;
    background-color: white;
    position: relative;
    left: 78px;
    bottom: 52px;
    @include animation-fill-mode(forwards);
    @include animation-duration(1.2s);
    @include animation-delay(1.3s);
}

.mask a:hover ~ .glint {
    @include animation-name(glint);
}

@-webkit-keyframes glint {
    from {
        left: 78px;
    }

    to {
        left: 400px;
    }
}

//TESTING FOR SHINE EFFECT//


.hideshimmer {
    overflow: hidden;
    position: absolute;
    top: 0;
    left: -15%;
    height: 100%;
    width: 5%;

    @include animation-fill-mode(forwards);
    @include animation-duration(0.9s);
    @include animation-delay(.8s);
    @include animation-name(hideshimmer);
}

.shimmer {
    background-image: url(cbs_crop_blade_shine.png);
    background-size: 100%;
    position: relative;
    top: 0;
    left: -185%;
    height: 100%;
    width: 2000%;
    @include animation-fill-mode(forwards);
    @include animation-duration(0.9s);
    @include animation-delay(.8s);
    @include animation-name(shimmer);
}

@media screen and ( max-height: 1200px ) {
    .textbox {
        margin-top: 50px;
    }

    .soc-med {
        margin-top: 20px;
    }
}

@media screen and ( min-height: 1800px ) {
    .textbox {
        margin-top: 500px;
    }
}
